<!DOCTYPE html>
<html>
 
<head>
    <title>Sentimiento</title>
    <link rel="stylesheet" href="/stylesheets/results.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
 
<body>
    <div class="outer">
        <h1 class="heading">Sentimiento</h1>
    <p class="subheading">Uses twitter api to do sentimental analysis on tweets using NLP</p>
    <div class="form-outer2">
        <form action="/" method="POST">
            <label for="topic">Enter topic name</label><br>
            <input id="topic" name="topic" required placeholder="Enter your topic" type="text">
            <br>
            <button>Get results</button>
          </form>
    </div>
    </div>
</body>
 
</html>  