<!DOCTYPE html>
<html>
 
<head>
    <title>Sentimiento</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
     
    <style type="text/css" media="screen">

    </style>
</head>
 
<body>
    <div class="outer">
        <h1 class="heading">Sentimiento</h1>
    <p class="subheading">Uses twitter api to do sentimental analysis on tweets using NLP</p>
    <div>
        <form action="/" method="POST">
            <label for="topic">Enter topic name</label><br>
            <input id="topic" name="topic" required placeholder="Enter your topic" type="text">
            <br>
            <button>Get results</button>
          </form>
    </div>
    </div>
</body>
 
</html>  