<!DOCTYPE html>
<html>
 
<head>
    <title>Sentimiento</title>
    <link rel="stylesheet" href="/stylesheets/results.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
 
<body>
    <div class="outer">
        <nav>
            <p><a class="brand" href="/">Sentimiento</a></p>
        </nav>
        <div class="form-outer">
            <form action="/" method="POST">
                <input id="topic" required name="topic" placeholder="Enter your topic" type="text">
                <button>Get results</button>
              </form>
        </div>
        <h1>Results for <%= topic %> are</h1>
        <h1 class="result"><%= singleCounter %></h1>
        <small>Results are different on reload as twitter api is collecting random tweets from this topic</small>

        <div class="scale">
            <h2>Scale for reference</h2>
            <img width="100%" src="/images/scale.svg" alt="">
        </div>

        
    </div>
    
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyC-benVr55jmqm8YAcAdp6P0hSeN-_y33E",
      authDomain: "sentimiento-ab.firebaseapp.com",
      projectId: "sentimiento-ab",
      storageBucket: "sentimiento-ab.appspot.com",
      messagingSenderId: "855861226745",
      appId: "1:855861226745:web:84c8ad8c6d3b44cdedc628",
      measurementId: "G-FJWCXZ20B1"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
 
</html>  